@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root{
	--main-color:  #00A0C1;
	--h3-color: #252B42;
	--p-color: #737373;
	--primary-color: #FFA62B;
	--fill-color: #FAFAFA;
	--lastsection-color: #F3F3F3;
}

body{
	font-family: Montserrat, sans-serif;
}

header{
	background-color: var(--fill-color);
	background-image: url(../img/header.jpg);
}

.header-blocks div{
	background-color:  white;
}

.header-blocks div:last-child{
	background-color: var(--main-color);
}

.header-blocks h3{
	font-size: 24px;
	font-weight: bold;
	color: var(--h3-color);
	line-height: 32px;
}

.header-blocks p{
	font-size: 14px;
	font-weight: normal;
	color: var(--p-color);
	line-height: 20px;
}

.header-blocks div:last-child h3{
	color: white;
}

.header-blocks div:last-child p{
	color: white;
}

header nav ul{
	list-style-type: none;
}

header nav a{
	color: var(--p-color);
	font-size: 14px;
	font-weight: 600;
	text-align: center;
	line-height: 24px;
	text-decoration: none;
}

#navbar-toggler{
	background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden; 
}

.header-main h1{
	color: var(--h3-color);
	font-size: 58px;
	font-weight: bolder;
	line-height: 80px;
}

.header-main p{
	color: var(--p-color);
	font-size: 20px;
	line-height: 30px;
}

#get-quote-now{
	color: white;
	font-size: 14px;
	font-weight: bold;
	background-color: var(--primary-color);
	border: none;
	border-radius: 37px;
	line-height: 28px;
}

#learn-more{
	color:var(--main-color);
	font-size: 14px;
	font-weight: bold;
	background-color: white;
	border: 1px solid var(--main-color);
	border-radius: 37px;
	line-height: 28px;
}

.section1{
	background-color: var(--fill-color);
}

.section1-sign h2{
	font-size: 40px;
	font-weight: bold;
	line-height: 57px;
	color: var(--h3-color);
}

.section1-sign p{
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: var(--p-color);
	text-align: center;
}

.section1-blocks div{
	background-color: white;
}

.section1-blocks div h2{
	font-size: 40px;
	font-weight: bold;
	line-height: 57px;
	color: var(--h3-color);
}

.section1-blocks div p{
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	color: var(--p-color);
	text-align: center;
}

.section2{
	background-color: var(--fill-color);
}

.section2-sign h2{
	font-size: 40px;
	font-weight: bold;
	line-height: 57px;
	color: var(--h3-color);
}

.section2-sign p{
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: var(--p-color);
	text-align: center;
}

.section2-blocks div{
	background-color: white;
}

.section2-blocks div div h4{
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	color: var(--h3-color);
}

.section2-blocks div div p{
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: var(--p-color);
}

.section3-sign h2{
	font-size: 40px;
	font-weight: bold;
	line-height: 57px;
	color: var(--h3-color);
}

.section3-sign p{
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: var(--p-color);
	text-align: center;
}

.section3-blocks div:first-child h2{
	font-size: 40px;
	font-weight: bold;
	line-height: 57px;
	color: var(--h3-color);
}

.section3-blocks div:first-child p{
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: var(--p-color);
}

.section3-blocks div:last-child div div h4{
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	color: var(--h3-color);
}

.section3-blocks div:last-child div div p{
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	color: var(--p-color);
}

.section4{
	background-color: var(--fill-color);
}

.colorline{
	height: 20px;
	background-color: #252B42;
}

.section4 div:last-child div{
	background-color: #16697A;
}

.section4 div:last-child div h3{
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	color: white;
}

.section4 div:last-child div form label button{
	color: white;
	background-color: var(--primary-color);
	border: none;
	border-radius: 0px 5px 5px 0px;
}

.siction4 div:last-child div form{

}

.section5{
	background-color: var(--lastsection-color);
}

.section5-sign h2{
	font-size: 40px;
	font-weight: bold;
	line-height: 57px;
	color: var(--h3-color);
}

.section5-sign p{
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: var(--p-color);
	text-align: center;
}

.section5-blocks div:first-child{
	background-color: white;
}

.section5-secondblock{
	background-color: #252B42;
}

.section5-blocks div:last-child{
	background-color: white;
}

.section5-blocks div div{
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	text-align: center;
	color: var(--h3-color);
}

.section5-blocks div h4{
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
	color: var(--h3-color);
}

.section5-secondblock div{
	color: white !important;
}

.section5-secondblock h4{
	color: white !important;
}

.section5-blocks div button{
	background-color: transparent;
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
}

.section5-secondblock button{
	border-color: white !important;
	color: white !important;
}

footer{
	background-color: var(--fill-color);
}

.footer-sign h3{
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	color: var(--h3-color);
}

.footer-sign p{
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	color: var(--p-color);
}

#contact-us{
	background-color: var(--primary-color);
	border: none;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 28px;
	color: white;
}

.footer-table{
	background-color: #16697A;
}

.footer-table div h5{
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	color: white;
}

.footer-table div ul{
	list-style-type: none;
}

.footer-table div ul li a{
	text-decoration: none;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	color: white;
}

.footer-table div ul li{
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	color: white;
}

.footer-out p{
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	color: var(--p-color);
}